*{
    font-family: 'poppins',sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: rgb(175, 173, 170);
    width: 100%;
    position:fixed;
    display: flex;
    justify-content:space-between;
    z-index: 999;
    padding: 10px 100px;
}
.logo{
    text-decoration: none;
    color: rgb(253, 4, 99);
    font-size: 1.8em;
    text-transform:uppercase;
    font-weight:700;
}
nav a{
 text-decoration: none;
 color:rgb(10, 10, 10) ;
 padding-left: 30px;
 font-size: 1.1em;
}
nav a:hover{
    color: rgb(253, 4, 99);
}
section{
    padding: 100PX 200PX;
}
.min{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 200px 200px;
    background:url(24a339d6-540d-4f23-860d-5563f5d8d937.jpg) ;
    background-size: cover;
    background-position: center;
    
}
.min h2{
    color:rgb(253, 4, 99) ;
    font-size: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.min h2 span{
    display: inline-block;
    margin-top: 30px;
    color:#111010;
    font-size:2em;
    font-weight: 800px;
}
.btn{
    display: inline-block;
    
    color: antiquewhite;
    background-color: rgb(245, 59, 130);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    text-align: center;
    border: 1px solid rgb(245, 59, 130);
    text-decoration: none;
    padding: 15px 5px;
    border-radius: 25px;
    transition: 0.7s ease;
    width: 170px;


    
}
.btn:hover{
    
   color: #111010;
  background-color:  rgb(253, 4, 99);
   
   transform: scale(1.1);
    
}
.icons{
    display: flex;
    flex-direction: column;
}
.icons2 a{
    display: inline-block;
    margin-top: 14px;
    color: rgb(10, 10, 10);
    padding-right: 1.5em;
}
.min1 h2{
    color: rgb(253, 4, 99);;
    font-weight: 800;
    font-size: 2.2em;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
}
.so{
    
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
    
}
.cont{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%) ;
    padding: 50px;
    margin: 30px;
    transition: 0.7s ease;
}

.icon{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 8em;

    
}

.cont:hover{
    background-color:rgb(240, 51, 124); 
    transform: scale(1.1);
}
.para1{  text-align: center;

}






.para1 h3{
  
    color: #9a89fa;
    font-weight: 800;
    margin: 10px;
}
img{
    width: 90px;
    height: 90pxs;
}
.para2{
  
    background:url(pngtree-pink-minimalist-computer-desktop-background-map-image_578447.jpg);
    background-size: cover;
    background-position: center;
}
.para2 h2{
    display: flex;
    justify-content: center;
    font-size:2.2em ;
    font-weight:800 ;
    color: #FF0063;
    margin-bottom: 30px;
}
.soo{
    background-color:aliceblue;
    width: 23em;
    min-height: 14em;
    border: 1px solid red;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    transition: 0.7s ease;
}
.soo:hover{
    transform: scale(1.05);

}
.im img{
    width: 100%;
}
.soo:hover .im{
    opacity: 0.9;}
.doo{
    padding: 1em;
}
.mo{
    text-decoration: none;
    color: black;
    border: 2.5px solid rgb(253, 4, 99) ;
    padding: 7px;
    border-radius: 6px;
    transition: 0.7s ease;
}
.mo:hover{
    background-color: #FF0063;
    transform: scale(1.09);
}
.doo p{
    font-size: 0.8em;
    display: flex;
    justify-content: center;
}
.soo2{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.flex1{
    display: flex;
    flex-direction: row;
}
.min1{
    background-size: cover;

}







